# --- General/Useful ---
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node/Frontend
node_modules/
dist/
.env
.env.*
!.env.example

# --- Tauri & Rust Specifics ---
/src-tauri/target/
/src-tauri/gen/
/src-tauri/tauri.log

# Sidecars
/src-tauri/ffmpeg.exe
/src-tauri/ffmpeg.zip

# --- Project Specific ---
scripts/*
!scripts/
!scripts/sync.js
!scripts/generate-installer-assets.js
!scripts/generate-installer-assets.ps1
dxdiag.txt
pubkey.txt
GIT_WORKFLOW.md

# --- Editor & OS Specific ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
